.btn-general{
	background-color: rgb(64,64,64);
}
.refcolor{
	color: white;
}
.coloritemsmenu{
	color: black;
}
.imgsmenu{
	padding-left: 10px;
	padding-right: 20px;
}
.btntemp{
	background-color: red;
}
.enlaces{
	text-decoration: none;
}
.padding-tarjetas{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.header-tarjeta{
	color: white;
}
.linea{
	white-space: nowrap;
}
.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.2em 0.4ex;
    text-align: center;
}
.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}